* {
  font-family: "Century Gothic";
  color: white;
  text-transform: uppercase;
}
 
body{
  background-image: url(bg.jpg);
  margin: 0;
  padding: 100px;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(26, 70, 61, 0.40);
  padding: 30px;
  margin: -100px;
  margin-bottom: 70px;
}

li{
  display: inline;
  font-size: 30px;
  margin-left: 40px;
}

a{
  text-decoration: none;
  transition: 0.5s;
}

a:hover{
  color: rgb(65, 141, 126);
}

span{
  font-size: 50px;
}

ul{
  margin: 0;
  padding: 0;
}

.main-container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 40px;
}
.info-container{
  display: inline-block;
  background: rgba(26, 70, 61, 0.40);
  padding: 50px;
  text-align: center;

}

.info-text{
  font-size: 50px;
  margin: 0px;
}

.field{
  display: block;
  border-collapse: separate;
  border-spacing: 3px;
  background-color: rgb(26, 70, 61);
}

td{
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: rgb(0, 14, 11);;
  border-width: 5px;
  background-color: rgb(0, 14, 11);
  padding: 0px;
  margin: 0px;
}

.opaque{
  height: 30px;
  width: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(26, 70, 61, 0.0); 
  background-color: rgba(26, 70, 61, 0.0);
  padding: 0px;
  margin: 0px;
}

.next-element{
  margin: auto;
  width: 50%;
  margin-top: 100px;
}

.info-value{
  margin-top: 30px;
  margin-bottom: 100px;
  font-size: 50px;
}

.button{
  display: block;
  width: 100%;
  margin-bottom: 30px;
  height: 90px;
  background-color: rgb(26, 70, 61);
  border: none;
  transition: 0.5s;
  font-size: 30px;
}

button:hover{
  background-color: rgb(65, 141, 126);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.button-container{
  padding: 0px 626px 0px 645px;
  margin-bottom: 200px;
}

.footer{
  background: rgba(26, 70, 61, 0.40);
  padding: 30px;
  margin: -100px;
}

.aqua-td{
  background-color: rgb(0, 240, 240);
  border-left-color: rgb(0, 216, 216);
  border-right-color: rgb(0, 216, 216);
  border-top-color: rgb(179, 251, 251);
  border-bottom-color: rgb(0, 114, 114);
}

.blue-td{
  background-color: rgb(0, 0, 240);
  border-left-color: rgb(0, 0, 216);
  border-right-color: rgb(0, 0, 216);
  border-top-color: rgb(179, 179, 251);
  border-bottom-color: rgb(0, 0, 114);
}

.orange-td{
  background-color: rgb(240, 160, 0);
  border-left-color: rgb(216, 144, 0);
  border-right-color: rgb(216, 144, 0);
  border-top-color: rgb(251, 227, 179);
  border-bottom-color: rgb(114, 76, 0);
}

.yellow-td{
  background-color: rgb(240, 240, 0);
  border-left-color: rgb(216, 216, 0);
  border-right-color: rgb(216, 216, 0);
  border-top-color: rgb(251, 251, 179);
  border-bottom-color: rgb(114, 114, 0);
}

.green-td{
  background-color: rgb(0, 240, 0);
  border-left-color: rgb(0, 216, 0);
  border-right-color: rgb(0, 216, 0);
  border-top-color: rgb(179, 251, 179);
  border-bottom-color: rgb(0, 112, 0);
}

.purple-td{
  background-color: rgb(160, 0, 240);
  border-left-color: rgb(144, 0, 216);
  border-right-color: rgb(144, 0, 216);
  border-top-color: rgb(227, 179, 251);
  border-bottom-color: rgb(80, 0, 120);
}

.red-td{
  background-color: rgb(240, 0, 0);
  border-left-color: rgb(216, 0, 0);
  border-right-color: rgb(216, 0, 0);
  border-top-color: rgb(251, 179, 179);
  border-bottom-color: rgb(112, 0, 0);
}